@import url('breakpoints.css');

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.header-container {
    background-color: gray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 45px repeat(11, 1fr);
    grid-template-rows: repeat(7, 25px);
}

.nav-container {
    background-color: #f2f2f2;
    grid-column: 2 / span 11;
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container li {
    list-style: none;
    display: inline;
}

.nav-item {
    color: black;
    text-decoration: none;
    margin-right: 0.6em;
}

.cart {
    text-align: right;
}

.cart-item {
    text-decoration: none;
    color: gray;
}

.search-input {
    display: inline-block
}

.title-container {
    background-image: url(img/background.jpg);
    color: azure;
    grid-column: 2 / span 11;
    grid-row: 3/6;
    display: flex;
    align-items: center;
}

.title-container h1 {
    text-shadow: 5px 4px 5px rgb(53, 53, 136);
    margin-left: 1.25em;
    margin-right: 0.6em;
}

.logotype-container {
    width: 45px;
    grid-column: 1/2;
    grid-row: 1/6;
}

.logotype {
    height: 100%;
    object-fit: cover;
}

.carrousel-container {
    background-color: #f2f2f2;
    padding-top: 0.4em;
    grid-column: 1/13;
    grid-row: 6/8;
    display: flex;
    justify-content: space-around;
}

.car-item {
    display: flex;
    align-items: center;
    color: gray;
    text-decoration: none;
}

.carrousel-img {
    height: 2.1em;
    width: auto;
}

.car-item:hover {
    filter: grayscale(100%);
    transform: scale(2);
    transition: .5s;
}

.main-container {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    justify-content: center;
}

.subtitle-container {
    background-color: rgb(62, 141, 221);
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}

.subtitle-container h2 {
    color: #f2f2f2;
}

.products-container {
    width: 100%;
    margin: auto;
    display: grid;
}

.prod-container {
    border-right: solid 1px #d5d5d5;
    margin-left: 0px;
    text-align: center;
}

.doorbuster {
    width: 9.4em;
    height: auto;
    margin-bottom: 1.25em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.prod-img {
    width: 12.5em;
    height: auto;
}

.prod-title {
    display: block;
    color: rgb(62, 141, 221);
    font-size: large;
    text-decoration: none;
}

.prod-title:hover {
    text-decoration: underline;
    transform: scale(1.5);
    transition: .5s;
}

.prod-span {
    color: gray;
    text-decoration: none;
    font-size: smaller;
    margin-top: 0;
}

.prod-price {
    font-size: 2em;
}

.prod-rating {
    display: block;
    margin-bottom: 1.25em;
}

.prod-rating i {
    color: orangered;
}

.buy-button {
    background-color: rgb(62, 141, 221);
    color: #d5d5d5;
    width: 50%;
    height: 3em;
    border-radius: 5%;
    margin-bottom: 3.1em;
    cursor: pointer;
}

.specs-container {
    width: 60%;
    text-align: left;
    border-bottom: solid 1px #d5d5d5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
}

.spec-span {
    color: gray;
}

.div-link {
    margin-top: 3.1em;
    margin-bottom: 3.1em;
    padding-left: 30%;
}

.spec-link {
    color: rgb(62, 141, 221);
    text-decoration: none;
}